
   
div{
    display: block;
}

.box1{
    margin-left: 300px;
    float: left;
    font-size: 20px;
}
.box2{
float: right;
margin-right: 300px;
font-size: 20px;

}


button {

 border-radius: 10px;
}

#hesapla{
    font-size: large;
    margin-left: 130px;
    text-align: center;
}
h1 {
    text-decoration: underline;
}
